# MySQL connection
MYSQL_HOST="127.0.0.1"
MYSQL_PORT="3306"
MYSQL_USER="root"
MYSQL_PASSWORD="your_password"
MYSQL_DATABASE="gufix_app"

# App
PORT="3000"
VITE_API_BASE_URL=""
WEBAUTHN_RP_NAME="GuFix"
WEBAUTHN_RP_ID="localhost"
WEBAUTHN_RP_ORIGIN="http://localhost:3000"
